<div class="row">
  <div class="col-md-6">
    <h3>Morning</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.swc_pre_survey }}{{ site.github.project_title }}">Pre-workshop survey</a> </td> </tr>
      <tr> <td>09:00</td>  <td>Version control with Git (5 mins) </td> </tr>
      <tr> <td>09:05</td>  <td>Setting Up Git (5 mins) </td> </tr>
      <tr> <td>09:10</td>  <td>Collaborating with Git (25 mins) </td> </tr>
      <tr> <td>09:35</td>  <td>Introduction to R and RStudio (55 mins)</td> </tr>
      <tr> <td>10:30</td>  <td>Morning Break (15 mins)</td> </tr>
      <tr> <td>10:45</td>  <td>Project Management with RStudio (30 mins)</td> </tr>
      <tr> <td>11:15</td>  <td>Ignoring Things (5 mins)</td> </tr>
      <tr> <td>11:20</td>  <td>Seeking Help (20 mins)</td> </tr>
      <tr> <td>11:40</td>  <td>Dataframe Manipulation with dplyr (55 mins)</td> </tr>
      <tr> <td>12:35</td>  <td>Lunch Break (60 mins)</td> </tr>
      <!-- <tr> <td>11:30</td>  <td>Data Structures</td> </tr> -->
      <!-- <tr> <td>13:25</td>  <td>Exploring Data Frames</td> </tr> -->

    </table>
  </div>
  <div class="col-md-6">
    <h3>Afternoon</h3>
    <table class="table table-striped">
      <tr> <td>13:35</td>  <td>Tracking Changes with Git (20 mins)</td> </tr>
      <tr> <td>13:55</td>  <td>Creating Tidy Data with tidyr (45 mins)</td> </tr>
      <tr> <td>14:40</td>  <td>Afternoon Break (15 mins)</td> </tr>
      <tr> <td>14:55</td>  <td>Creating Publication-Quality Graphics with ggplot2 (80 mins)</td> </tr>
      <tr> <td>16:15</td>  <td>Saving Data and Plots (20 mins)</td> </tr>
      <tr> <td>16:25</td>  <td>Producing Reports with rmarkdown (75 mins)</td> </tr>
      <tr> <td>17:40</td>  <td>Exploring History (25 mins)</td> </tr>
      <tr> <td>18:05</td>  <td>Dealing with Conflicts (15 mins)</td> </tr>
      <tr> <td>18:20</td>  <td>Writing Good Software (15 mins)</td> </tr>
      <tr> <td>18:35</td>  <td>Wrap-up</td> </tr>
      <tr> <td>19:00</td>  <td><a href="{{ site.swc_post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop Survey</a></td> </tr>
      <tr> <td>19:15</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
